<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8">
    <title>SystemPayments: Auth</title>

</head>
<body>
    <p id="message">${message}</p>
    <form action="/auth" method="post">
        <label for="login">Login:</label>
        <input id="login" type="text" name="login" value="Login" onclick="if(this.value=='Login')this.value='';" onblur="if(this.value=='')this.value='Login';"/><br/>

        <label for="password">Password:</label>
        <input id="password" type="password" name="password" value="Password" onclick="this.value='';" onblur="if(this.value=='')this.value='Password';"/><br/><br/>

        <input type="submit" value="Login" />
    </form>
</body>
</html>